# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow
6. PyTorch

| Data Science Tools |
|-------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Spark       |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- Identify common libraries used by Data Scientists
- Create tables of Data Science tools
- Demonstrate basic arithmetic operations in Python

## Author
Sundos Azzam